:root {
  --body-background-color: #191919;
  --text-color-header: #a7a7a7;
  --gradient-heading-primary: #13b0f5;
  --gradient-heading-secundary: #0fe75e;
  --font-family: "Courier New", Courier, monospace;
  --color-badge-button: #d7ffe0;
  --color-badge-text: #018c0f;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.background {
  background-color: var(--body-background-color);
}

body {
  font-family: var(--font-family);
}

.links-header {
  font-size: 1.5rem;
  align-items: center;
}

.text-link-header {
  color: var(--text-color-header);
  text-decoration: none;
  margin: 10px;
  font-family: var(--font-family);
}

.text-hero {
  color: white;
  font-family: var(--font-family);
  width: 40vw;
  font-weight: bold;
  font-size: 38px;
  text-align: left;
}

.name-stylized {
  background: linear-gradient(
    90deg,
    var(--gradient-heading-primary),
    var(--gradient-heading-secundary)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech-stack {
  color: white;
  font-family: var(--font-family);
}

.tech-stack h2 {
  font-weight: bold;
}

.about {
  color: white;
  font-family: var(--font-family);
  font-size: 1.5rem;
}

.title-about {
  color: #42446e;
  font-weight: bold;
  font-size: 3rem;
}

.badger {
  background-color: var(--color-badge-button);
  color: var(--color-badge-text);
  border-radius: 50%;
  padding: 0.5rem 1rem;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  font-weight: bold;
}

.custom-hr {
  height: 3px; /* Define a espessura da linha */
  background-color: white; /* Define a cor da linha */
}

.cards {
  font-family: var(--font-family);
  font-size: 1rem;
}

.stack {
  color: #42446e;
  font-weight: bold;
}

.link-black {
  color: black !important;
}

.contato {
  color: #1e0e62;
  font-weight: bold;
}

.contato-div {
  padding: 1rem;
  padding-bottom: 2vh;
  margin-bottom: 1vh;
}

.footer {
  color: white;
}

@media (max-width: 768px) {
  .links-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text-link-header img {
    height: 1.2rem;
    width: auto;
    margin-right: 0.5rem;
  }

  .text-hero {
    font-size: 2rem;
    width: 80vw;
    text-align: center;
    margin: 0 auto;
  }

  .name-stylized {
    font-size: 2.2rem;
  }

  .title-about {
    color: #42446e;
    font-weight: bold;
    font-size: 2rem;
  }

  .teste {
    margin-right: 10vw;
  }

  .col-12 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
